* {
    box-sizing: border-box;
    margin: 0;
  }
  
  :root {
    --colour-one: rgb(0,0,0); 
    --colour-tow: rgb(100,100,100);
    --colour-three: rgb(180,180,180);
    --colour-four: rgb(240,240,240);
    --border-one: dashed 2px white;
  }
  
  * {
      margin: 0;
      padding: 0;
    }

    #grid-container-bg{
        background-color: var(--colour-one);
        width: 71vw;
        height: 100vh;
      /*   width: 100vw;
        height: 177vw; */
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        gap: 1vh;
    }

    .grid-item-one {
        border: var(--border-one);
    }

    #box-one{
        grid-row: 4/7;
        grid-column: 1/6;
        background-color: var(--colour-three);
        display: grid;


    }

    #box-two{
        grid-row: 1/3;
        grid-column: 1/2;
        background-color: var(--colour-three);
        display: grid;
    }
    #box-three{
        grid-row: 2/4;
        grid-column: 2/3;
        background-color: var(--colour-one);
        display: grid;
    }
    #box-two{
        grid-row: 1/3;
        grid-column: 1/2;
        background-color: var(--colour-three);
        display: grid;
    }
